# Environment variables
.env

# Log files
logs/
*.log

# Goland
.idea/
*.iml
*.iws
*.ipr

# Binary builds
cmd/monitor/monitor

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Temporary files
*.tmp
*.swp
*.swo 